#navbar {
    position: fixed;
    top: 0;
    background: $black;
    color: $white;
    overflow: hidden;
    width: 100%;
    height: 4rem;

    #main-nav {
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;

        h1 {
            margin: 0;
            color: $main-color;
        }

        ul {
            display: flex;
            align-items: center;
            list-style: none;

            li {
                padding: 0.75rem 1rem;

                .underline {
                    visibility: hidden;
                    line-height: 0.1rem;
                    pointer-events: none;
                }

                a {
                    padding: 0.25rem 0;
                    font-size: $font-size-medium;
                    color: $white;
                    text-decoration: none;
                    letter-spacing: 1.2;
                    outline: none;
                }

                a:visited {
                    color: $white;
                }
            }

            li:hover {
                .underline {
                    visibility: visible;
                    font-size: $font-size-medium;
                    color: $main-color;

                }

            }
        }
    }
}

#navbar-spacer {
    height: 4rem;
    background: $background-color;
}
