#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5rem;
    color: $white;

    h1 {
        font-size: 5rem;
        margin: 1rem 0;

        span {
            color: $main-color;

        }
    }

    h2 {
        font-size: 2rem;
    }
    
}
